<div>
  <h4>Add new purchase</h4>

  <mat-divider></mat-divider>

  <div class="create-form-container">
    <form>
      <mat-form-field>
        <input
          type="text"
          placeholder="Select a product"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let product of filteredProducts | async"
            [value]="product.name"
          >
            {{ product.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="button"
        (click)="onAddClick()"
      >
        ADD
      </button>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
