<mat-list-item>
  <mat-icon mat-list-icon>person</mat-icon>
  <strong>
    {{ customer.name }}
  </strong>

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      class="button"
      (click)="onDeleteClick()"
    >
      DELETE
    </button>
    <button
      mat-raised-button
      color="primary"
      class="button"
      routerLink="/customers/{{ customer.id }}"
    >
      SELECT
    </button>
  </div>

  <mat-divider></mat-divider>
</mat-list-item>
