<h4 class="create-container--heading">Add new product</h4>

<mat-divider></mat-divider>

<form class="create-container--form">
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      [formControl]="nameControl"
      (keyup.enter)="onEnterKeyDown(newProductName.value)"
      #newProductName
    />
    <mat-error *ngIf="nameControl.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="button"
    (click)="onAddClick(newProductName.value)"
  >
    ADD
  </button>
</form>

<mat-divider></mat-divider>
