<div>
  <h4>Add new customer</h4>

  <mat-divider></mat-divider>

  <div class="flex">
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          [formControl]="nameControl"
          (keyup.enter)="onEnterKeyDown(newCustomerName.value)"
          #newCustomerName
        />
        <mat-error *ngIf="nameControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="button"
        (click)="onAddClick(newCustomerName.value)"
      >
        ADD
      </button>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
